@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Kelly+Slab');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
* {
    box-sizing: border-box;
  }

.App{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.calculator{
    width: 320px;
    height: 400px;
    border: 2px solid #000;
}

@media (max-width : 400px) {
    .App {
        margin-top: 20%;
        width: 100%;
        height: 100%;
    }
    .calculator{
        width: 100%;
        
    }
}

.display {
    height: calc(400px - 85%);
    width: 100%;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    font-family: Kelly Slab;
}
.input {
    height: calc(400px - 17%);
    width: 100%;
    border: 2px solid #000;
    display: grid;
}

.mainExpression , .currentInput{
    width: 100%;
    height: 50%;
    padding: 5px;
    text-align: end;
}

.currentInput {
    font-size: 15pt;
}
p{
    font-family: Pacifico;
}

button {
   border: 1px solid #000;
   font-size: large;
   color: white;
   background-color: #41424C;
   font-family: Orbitron;

}
button:hover{
    border: 1px solid white;
    color: black;
}

.equals {
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: midnightblue !important;
}

.clear {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: brown !important;
}
.subtract , .add, .equals{
    grid-column-start: 4;
    grid-column-end: 5;
}

.subtract {
    grid-row-start: 2;
    grid-row-end: 3;
}

.add {
    grid-row-start: 3;
    grid-row-end: 4;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

.add, .subtract, .multiply, .divide {
    background-color: grey !important;
}